.App-logo {
  height: 82px;
  pointer-events: none;
}

.header {
  display: flex;
  height: 40px;
  padding: 15px 5% 15px 45%;
  justify-content: space-between;
  text-align: center;
  background: #0773d7;
}

.HeaderMainPage {
  display: flex;
  height: 55px;
  padding: 10px 1% 10px 1%;
  justify-content: space-between;
  text-align: center;
  background: #0773d7;
}

.MenuBar {
  width: 120%;
  display: flex;
  justify-items: center;
  justify-content: center;
}

.MenuBar ul {
  display: inline-flex;
  list-style: none;
  padding: 0px;
  margin: 0px;
  color: #ffffff;
}

.MenuBar ul li {
  padding: 10px 15px 15px;
  font-size: 18px;
}

.MenuBar ul li:hover {
  background-color: #002664;
  border-radius: 2px;
}

.MenuBar ul li:focus-within .SubMenu-1 {
  display: block;
  position: absolute;
  background-color: #0773d7;
}

.MenuButton {
  background-color: #0773d7;
}

.MenuBar ul li:focus-within .SubMenu-1 ul {
  display: block;
  padding: 20px;
}

.SubMenu-1 {
  display: none;
  z-index: 1;
  top: 70px;
}

.SubMenu-1 li::before a {
  content: '\1F892';
  align-self: flex-start;
  padding-right: 1%;
  display: inline-block;
}

.SubMenu-1 li {
  text-align: left;
  border: #002664;
}

.MenuList {
  padding: 0px;
  font-size: 18px;
}

.MenuList li a {
  border: #002664;
}

.Margin-div {
  width: 100%;
  height: 45px;
}

.SummaryInCheckout {
  border: 1px solid #002664;
  padding: 10px;
  line-height: 29px;
  position: fixed;
}

.FavoriteRoadButton {
  border: 1px solid #002664;
  background-color: #ffffff;
}

.SignButton {
  color: #ffffff;
  background: #002664;
  height: 40px;
  width: 150px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 12px;
}

.IconLayout {
  height: 40px;
  width: 40px;
}

.HeaderContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}

.LanguageChange {
  color: #ffffff;
  margin: 0 20px;
}

.CartIcon {
  width: 32px;
  height: 32px;
  padding-top: 4px;
}

.TrainConnectionsContainer {
  width: 900px;
  margin: 30px auto auto;
}

.TrainConnectionsContainer button:first-child {
  min-width: fit-content;
}

.BuyButton button {
  gap: 50%;
}

.TrainCard {
  border: 1px solid #002664;
  padding-top: 0px;
  margin-bottom: 30px;
}

.DayStyle {
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #002664;
}

.TrainName {
  text-align: center;
  color: #002664;
}

.Align {
  padding-top: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
}

.AlignTime {
  border-top: 1px dashed #002664;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px 5px 15px;
}

.AlignClocks {
  display: flex;
  align-items: center;
  gap: 5px;
}

footer h4 {
  color: #ffffff;
  display: flex;
  font-size: 20px;
  line-height: 29px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

footer li {
  list-style: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.upper_container .footer-col li::before {
  content: '\1F892';
  width: 20px;
  height: 20px;
  align-self: flex-start;
}

.footer-col {
  float: left;
  margin-left: 5%;
  margin-right: 2%;
}

.footer-RSS li {
  float: left;
  margin-left: 200%;
  margin-right: 2%;
}

.upper_container {
  height: 25%;
  margin: 2% 5% 3%;
  display: flex;
  align-items: center;
}

.lower_container {
  height: 25%;
  margin-top: auto;
  margin-left: 7%;
  display: flex;
}

.Authors_info {
  height: 25%;
  margin-top: auto;
  margin-left: 7%;
  color: #ffffff;
}

footer {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 30px;
  background-color: #0773d7;
}

.App-mobile {
  width: 125px;
}

.QR-CODES {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .icons {
  color: #ffffff;
}

.Line {
  width: 86%;
  height: 4px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.Last_line {
  width: 86%;
  height: 1px;
  border: 0 none;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.Up_to_start {
  float: right !important;
  margin-right: 8%;
  z-index: 9;
}

.Up_to_start:hover {
  text-decoration: underline;
}

.Socialmedia {
  list-style: none;
  color: #ffffff;
}

.Socialmedia li a {
  font-size: 18px;
  margin-left: 5%;
}

.phone a {
  font-size: 18px;
  margin-left: 1px;
}

.img-logo {
  width: 267px;
}

.phone {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.AlignButton {
  display: flex;
}

.AlignSecondButton button:nth-child(2) {
  margin-left: auto;
}

.AlignSecondButton {
  display: flex;
  margin-top: 30px;
  margin-bottom: 50px;
}

.AlignButton button {
  margin-left: auto;
  margin-right: 2%;
}

.OrderContainer {
  border: 1px solid #002664;
}

.ContentContainer {
  border: 1px solid #002664;
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 2%;
}

.ContentContainer:last-child {
  background-color: rgb(232, 232, 232);
}

.AdjustData {
  border: 1px solid #002664;
}

.ButtonToEdit {
  float: right;
}

.ContentOfSummary {
  color: #002664;
  padding-right: 2%;
  margin-top: 10px;
}

.ContentOfSummary:first-child {
  margin-bottom: 2%;
}

.BackButton {
  margin-top: 5%;
}

.InformationCardContainer {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 40px;
}

.InformationCardContainer .css-1xkonbu-MuiPaper-root-MuiCard-root {
  color: #002664;
}
